:root {
  --borderColor: #36d3a6;

  --titleColor: #878787;

  --buttonColor: #368cd3;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;

  user-select: none;

  font-family: "Inter", sans-serif;
}
html {
  overflow-x: hidden;

  font-size: 1rem;
}
body {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  height: 100vh;
}
a {
  text-decoration: none;
  color: var(--titleColor);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.25rem 1rem;

  border-bottom: 0.125rem solid #36d3a6;

  color: var(--titleColor);
}
#header-logo {
  display: flex;
  align-items: baseline;
}
#header-logo div {
  background-image: url(/svg/icon.svg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 2.5rem;
  aspect-ratio: 1 / 1;
}
#header-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#header-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bolder;
  font-size: 1.25rem;

  cursor: pointer;

  transition: 0.5s;
}
#header-buttons a:hover {
  transform: scale(0.925);
  filter: brightness(0.9);
}
#header-buttons__support {
  color: var(--buttonColor);
}
#header-buttons__signup {
  width: 9rem;
  height: 1.75rem;

  border-radius: 9999rem;
  border: 0.125rem solid var(--buttonColor);

  color: var(--buttonColor);
}
#header-buttons__login {
  width: 5rem;
  height: 2.25rem;

  border-radius: 9999rem;
  background-color: var(--buttonColor);

  color: white;
}
#header-buttons__menu {
  display: none;

  border-radius: .5rem;

  background-color: var(--buttonColor);

  color: white;
}
#header-buttons__menu i {
  font-size: 1.75rem;
}
@media (max-width: 13rem) {
  header {
    justify-content: center;
  }
  #header-logo {
    display: none;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}
aside {
  z-index: 100;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  right: 0;
  height: 100%;

  padding: 1rem 0.5rem;

  border-left: 0.125rem solid var(--borderColor);
  background-color: white;

  transform: translateX(100%);
  transition: 1s;
}
aside a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10rem;
  height: 2rem;

  border-radius: 9999rem;
  background-color: var(--buttonColor);

  text-decoration: none;
  font-weight: bolder;
  color: white;

  cursor: pointer;

  transition: 0.5s;
}
.disabled {
  transform: translateX(0%);
}
aside button:hover {
  filter: brightness(0.9);
  transform: scale(0.95);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.5rem;

  border-top: 0.125rem solid var(--borderColor);
}
svg {
  width: 2.5rem;
  height: 2.5rem;
}