:root {
  --borderColor: #36d3a6;

  --titleColor: #878787;

  --buttonColor: #368cd3;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;

  user-select: none;

  font-family: "Inter", sans-serif;
}
html {
  overflow-x: hidden;

  font-size: 1rem;
}
body {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.25rem 0.5rem;

  border-bottom: 0.125rem solid #36d3a6;

  color: var(--titleColor);
}
#header-logo {
  display: flex;
  align-items: baseline;
}
#header-logo div {
  background-image: url(/svg/icon.svg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 2.5rem;
  aspect-ratio: 1 / 1;
}
#header-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#header-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-weight: bolder;
  font-size: 1.25rem;

  cursor: pointer;

  transition: 0.5s;
}
#header-buttons a:hover {
  transform: scale(0.925);
  filter: brightness(0.9);
}
#header-buttons__support {
  color: var(--buttonColor);
}
#header-buttons__signup {
  width: 9rem;
  height: 1.75rem;

  border-radius: 9999rem;
  border: 0.125rem solid var(--buttonColor);

  color: var(--buttonColor);
}
#header-buttons__login {
  width: 5rem;
  height: 2.25rem;

  border-radius: 9999rem;
  background-color: var(--buttonColor);

  color: white;
}
#header-buttons__menu {
  border-radius: .5rem;

  background-color: var(--buttonColor);

  color: white;
}
#header-buttons__menu i {
  font-size: 1.75rem;
}
@media (max-width: 33rem) {
  #header-buttons__support {
    display: none;
  }
}
@media (max-width: 27.5rem) {
  #header-buttons__signup {
    display: none;
  }
}
@media (max-width: 18rem) {
  #header-buttons__login {
    display: none;
  }
}
@media (max-width: 12rem) {
  header {
    justify-content: center;
  }
  #header-logo {
    display: none;
  }
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.5rem;

  border-top: 0.125rem solid var(--borderColor);
}
svg {
  width: 2.5rem;
  height: 2.5rem;
}