@media (max-width: 21rem) {
  #header-buttons__support {
    display: none !important;
  }
  #header-buttons__menu {
    display: block;
  }
}
@media (max-width: 19rem) {
  #header-buttons__login {
    display: none !important;
  }
}